.my-bg-primary {
  background: $primary-black;
}

.my-bg-secondary {
  background: $secondary-black;
}

.my-bg-primary-white {
  background: $primary-white;
}

.my-bg-secondary-white {
  background: $secondary-white;
}

.my-bg-btn {
  background: darken($light-blue-link, 12%);
}

.my-card-bio {
  border: none;
  .card-body {
    padding: $div-padding-small 0;

    .card-text {
      color: lighten($green-icon, 36%);
    }
  }
}

.my-sidebar-padding {
  padding: 0 $div-padding-small;
}

/* Override Bootstrap default */
.list-group-item {
  background: $primary-black;
  border: none;

  &:last-child {
    border-bottom: none;
  }
  &:first-child {
    border-top: none;
  }
  &:not(:last-child) {
    border-bottom: 2px solid darken($green-icon, 12%);
  }

  &:hover {
    background: darken($primary-black, 4%);
  }
}

.clear-button-style {
  background: none;
  border: none;
  padding: none;
  outline: none;

  &:active {
    outline: none;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.list-group-item-action {
}

.fa, .fab {
  color: lighten($green-icon, 36%);
}

.progress {
  background: rgba(lighten($secondary-black, 12%), 0.1);
  border: 1px solid rgba(darken($secondary-white, 30%), 0.1);
  border-left: 3px solid darken($secondary-white, 12%);
  border-radius: 0 3px 12px 0;
  height: auto;
}

.progress-bar {
  background-color: darken($light-blue-link2, 12%);
  border-radius: 0 0 12px 0;

  span {
    font-weight: 200;
    color: $primary-white;
  }
}
