/* Colors */
$primary-black: #252831;
$secondary-black: #1E2127;
$green-icon: #51566A;
$light-blue-link: #1BA7DD;
$light-blue-link2: #19A9E3;
$light-background: #424858;
$light-green: #1AC98E;
$light-red: #E8455A;
$light-blue: #9D86FB;
$light-yellow: #E4D836;
$primary-white: #FFF;
$secondary-white: #F1F1F1;

/* Sizes */
$div-padding-small: 6px;
$div-padding-medium: 12px;
